.myImage {
    width: 150px;
    height: 200px;
    border-radius: 100px;
    margin-left: 50px;
    margin-top: 20px;
}

.avatar {
    height: 200px;
    width: 150px;
    border-radius: 50%;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}

.content {
    width: 70%;
    height: 80%;
    background-color: white;
    margin-left : auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;

}
.content-body {
    padding-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-item {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 20px;
}

.accordion-item-body {
    margin-left: 100px;
    padding: 0px
}

img{
    height: 150%;
    width: 20%;
}

h1 {
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    color: red;
}

body{
    font-family: cursive;
    background-color: cadetblue;
}

.info {
    margin-right: 30px;
}

.dark-mode {
    background-color: #292c35;
    color: white;
}

.body-dark-mode{
    background-color: lightslategray;
}

.link-dark-mode {
    color: white;
}

.checkbox {
    opacity: 0;
    position: absolute;
    margin-left: 80%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle {
    position: fixed;
    margin-left: 90%;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
}

.scroll-top{
    height: 50px;
    width: 50px;
    background-color: yellow;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.scroll-top svg{
    width: 40%;
    color: black;
}

    @media  screen and (max-with: 800px) {
       .content, body {
           width: 100%; /* The width is 100%, when the viewport is 800px 0r smaller /*
       }
    }


